<!DOCTYPE html>
<html lang="en">
<
    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <div class="collapse navbar-collapse<!DOCTYPE html>
<html lang="en">

<title>
  Login
</title>

 <table style='margin-top: 30px' class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col"> Item </th>
        <th scope="col"> Price</th>
        <th scope="col"> codt (USD) </th>
      </tr>
    </thead>

  </table>

